body {
  /* background-color: rgb(67, 153, 219); */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(../Images/Treadmills.jpeg);
  background-attachment: fixed;
  margin-bottom: 0;
}

.wrapper {
  justify-content: center;
}

.container {
  max-width: 1600px;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1240px) {
  .container {
    max-width: 900px;
  }
}

.Main-Image {
  background-image: url("../Images/Black_Logo.jpg");
  background-size: 550px 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.5;
}

.Header {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.Triple-Icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #87898c;
  padding: 20px 10px 10px 10px;
  border-radius: 0 !important;
  border-color: 2px solid rgb(0, 0, 0) !important;
  /* margin-bottom: 15px; */
}

.Icon,
.About-Text {
  color: rgb(252, 252, 252);
  /* background: url(../Images/White-Circle.png); */
}

.head-text {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -13.2%;
  bottom: 3%;
}

.Triple-Icon > p {
  position: relative;
  left: -8px;
}

.Contact,
.About,
.Schedule {
  background-color: #87898c;
  padding: 20px 10px 10px 10px;
}

.Contact > h2,
.Contact > p {
  color: #43464b;
  text-align: center;
}

a {
  color: rgb(58, 198, 233);
}

a:hover {
  color: rgb(40, 126, 207);
}

.Main-Image,
.Triple-Icon,
.Contact,
.About,
.Schedule {
  border-radius: 0 !important;
}

.Contact > p {
  margin-bottom: 0px;
}

.Schedule,
.Contact {
  background-color: rgb(253, 252, 250);
}

.Schedule-Header {
  color: #43464b; /*darker gray*/
  text-decoration: underline;
  text-align: center;
  padding-bottom: 5px;
}

.Cards {
  color: #43464b; /*darker gray*/
  display: flex;
  flex-direction: row;
}

.Day {
  text-align: center;
  width: 34%;
}

.card-text {
  /* justify-content: center; */
  padding: 15px 4px;
  margin: 0;
}

h2 {
  font-size: 2rem !important;
}

/* Media Query */
@media only screen and (max-width: 1240px) {
  .Cards {
    display: flex;
    flex-direction: column;
  }
  .Day {
    width: 90%;
    margin-bottom: 10px;
  }
}

p,
h2 {
  font-family: Geneva, Tahoma, Verdana, sans-serif !important;
  /* font-family: helvetica, arial, sans-serif !important; */
}

.clickable-btn {
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 45px;
  width: 35%;
  align-self: center;
  margin-bottom: 10px;
}
